<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="pt-BR" prefix="og: https://ogp.me/ns#">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
<link media="all" href="/css/Main-CSS.css" rel="stylesheet"/>
<meta name="description" content="Assista a filmes e séries gratuitamente, somente aqui no ZenFlix!"/>
<meta name="keywords" content="ZenFlix, zenflix, filmes, filme"/>
<link rel="icon" href="https://telegra.ph/file/260c54fe1b68841d3ebe8.png"/>
<title>ZenFlix</title>

<meta name="google-site-verification" content="XLtnirX4DAxtbnn3WxshHl1yhuKWAUc-z7sNW6o4XhA"/>
<link rel="stylesheet" id="open-sans-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.9.9" type="text/css" media="all"/>
</head>
<body data-rsssl="1">
<div class="wrapper">

<header class="mHeader">
<div class="topHeader">
<div class="container">
<div class="menuBTN">
<img src="/icons/menuAK.png" alt="Menu">
<span>Menu</span>
</div>
<div class="buscaBTNdskt"> Bom Ep :)</div>
<div class="buscaBTN"><span>Busca</span>
<img src="/icons/buscaAK.png" alt="Busca">
</div>
</div>
</div>
<div class="containerHeader">
<div class="container">
<h3 class="topHeaderFrase">Filmes e Séries Grátis Para Você Assistir!</h3>
<div class="rl_BuscaContainer">
<form method="get" action="/search">
<input type="text" name="s" placeholder="Buscar por filmes series etc...">
<button type="submit">Buscar</button>
</form>
</div>
</div>
</div>
</header>
<div class="sideMenuLeft">
<div class="closeSideMenu"></div>
<nav>
<ul class="sideMenuItens">
    <div class="doble-dote" style="margin: 15px 0 15px  0;"></div>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/download">BAIXAR APP ZENFLIX</a></li>
    <div class="doble-dote" style="margin: 15px 0 15px  0;"></div>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/contato">CONTATO</a></li>
    <div class="doble-dote" style="margin: 15px 0 15px  0;"></div>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/">HOME</a></li>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/categorias">CATEGORIAS</a></li>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/series">SERIES</a></li>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/animes">ANIMES</a></li>
    <div class="doble-dote" style="margin: 15px 0 15px  0;"></div>
</ul>
</nav>
</div>
<main class="fundo">
<div class="container"><br>

<div class="relacionados">
<div class="related-listagem clearfix">
<div class="titulo-bloco">ÚLTIMOS FILMES <em style="color: #ff0000;">ADICIONADOS</em>
<div class="setas"></div>
</div>
</div>
<div class="listagem serie-relacionadas row">

<!-- FILMES ABAIXO -->

<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col">
<div class="item">
<a href="/api?pasta=filmes&search=angry-birds-2">
<div class="imagem"> <img original-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsVBHUIdbSf8sseeRBcNsVub7X7yFWHqG1lj1YbbXws5S1DWA5rHsN5qa6&s=10" alt="" title="" class="img-responsive" />
</div>
<h2 class="titulo">Angry Birds 2: O Filme</h2>
</a>
</div>
</div>

<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col">
<div class="item">
<a href="/api?pasta=filmes&search=elementos">
<div class="imagem"> <img original-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDdab6m1R38wYdsAjwcuGacJ80G27bD5oV0HlVR6aJoTS_3S3v" alt="" title="" class="img-responsive" />
</div>
<h2 class="titulo">Elementos</h2>
</a>
</div>
</div>

<!-- FIM -->

</div>
</div>

<div class="relacionados">
<div class="related-listagem clearfix">
<div class="titulo-bloco">TOP <em style="color: #ff0000;">ANIMES</em>
<div class="setas"></div>
</div>
</div>
<div class="listagem serie-relacionadas row">

<!-- ANIMES ABAIXO -->

<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col">
<div class="item">
<a href="/api?pasta=animes&search=baki-o-campeao">
<spam class="att">TOP 1</spam>
<div class="imagem"> <img original-src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT1YX-PAJBEnnCJstjMPAFI84OEqJGkGIJuxMu2N1vTnwQISIUV" alt="" title="" class="img-responsive" />
</div>
<h2 class="titulo">Baki – O Campeão</h2>
</a>
</div>
</div>

<!-- FIM -->

</div>
</div>

<div class="relacionados">
<div class="related-listagem clearfix">
<div class="titulo-bloco">TOP <em style="color: #ff0000;">SERIES</em>
<div class="setas"></div>
</div>
</div>
<div class="listagem serie-relacionadas row">

<!-- SERIES ABAIXO -->

<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col">
<div class="item">
<a href="/api?pasta=series&search=henry-danger">
<spam class="att">TOP 1</spam>
<div class="imagem"> <img original-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaDkgto7u3mdeXVRA_9h4isZ_1niemPJ-mgzURsYqE7xooCOeF" alt="" title="" class="img-responsive" />
</div>
<h2 class="titulo">Hanry Danger</h2>
</a>
</div>
</div>

<!-- FIM -->

</div>
</div>

</div>
</main>
<div class="mainFooter">
<div class="mainCreditosFooter">Filmes e Séries online grátis para você assistir a qualquer hora do seu dia!</div>
</div>
</div>

<script type="text/javascript">
var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4285887,4,0,0,0,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();
</script>
<script defer src="/js/Main-JS.js"></script>
</body>
</html>