<!DOCTYPE html>
<html lang="pt-BR">
<head>
<title>ZenFlix - Players</title>
<link rel="icon" href="https://telegra.ph/file/260c54fe1b68841d3ebe8.png">
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js?ver=1.8.1"></script>
<link media="all" href="/css/player.css" rel="stylesheet" />
</head>
<body>

<header id="addera">
<div id="topor" class="container">
<div class="logo">
<a href="/"><img src="/player/LOGO.png" alt="ZenFlix" title="ZenFlix" class="img-responsive" width="190px" height="auto"></a>
</div>
</div>
</div>
</header>

<div class="clear"></div>
<div class="menu-pc">
<div class="menulistra"></div>
</div>

<main class="fundo">
<div id="colunas">
<div id="ccontainer" class="container">

<div class="esq">
<div class="conteudo">
<iframe src="https://jg-bots.github.io/series-pt1/HRNEDNGRT01/HRNEDNGRT01EP05.html" frameborder="0" height="435" scrolling="no" width="600" allowFullScreen mozallowfullscreen msallowfullscreen oallowfullscreen webkitallowfullscreen></iframe>
</div>
</div>

</div>
</div>
</div>
</main>

<center>
<div id="ad_container"></div>
<div id="voltar">
<div class="container">
<a href="/api?pasta=series&search=henry-danger"></a>
</div>
</div>
</center>

<div id="aviso">
<div class="container">
<p>Não hospedamos nenhum video em nossos servidores, apenas o indexamos.</p>
</div>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-MMZXB8DZKD"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>