<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="pt-BR" prefix="og: https://ogp.me/ns#">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
<link media="all" href="/css/Main-CSS.css" rel="stylesheet"/>
<meta name="description" content="Assista a filmes e séries gratuitamente, somente aqui no ZenFlix!"/>
<link rel="icon" href="https://telegra.ph/file/260c54fe1b68841d3ebe8.png"/>
<title>ZenFlix</title>

<link rel="stylesheet" id="open-sans-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.9.9" type="text/css" media="all"/>
</head>
<body data-rsssl="1">
<div class="wrapper">

<header class="mHeader">
<div class="topHeader">
<div class="container">
<div class="menuBTN">
<img src="/icons/menuAK.png" alt="Menu">
<span>Menu</span>
</div>
<div class="buscaBTNdskt"> Bom Ep :)</div>
<div class="buscaBTN"><span>Busca</span> 
<img src="/icons/buscaAK.png" alt="Busca">
</div>
</div>
</div>
<div class="containerHeader">
<div class="container">
<h3 class="topHeaderFrase">Filmes e Séries Grátis Para Você Assistir!</h3>
<div class="rl_BuscaContainer">
<form method="get" action="/search">
<input type="text" name="s" placeholder="Buscar por filmes series etc...">
<button type="submit">Buscar</button>
</form>
</div>
</div>
</div>
</header>
<div class="sideMenuLeft">
<div class="closeSideMenu"></div>
<nav>
<ul class="sideMenuItens">
    <div class="doble-dote" style="margin: 15px 0 15px  0;"></div>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/download">BAIXAR APP ZENFLIX</a></li>
    <div class="doble-dote" style="margin: 15px 0 15px  0;"></div>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/contato">CONTATO</a></li>
    <div class="doble-dote" style="margin: 15px 0 15px  0;"></div>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/">HOME</a></li>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/categorias">CATEGORIAS</a></li>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/series">SERIES</a></li>
    <li id="menu-item-11298" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-11298"><a href="/animes">ANIMES</a></li>
    <div class="doble-dote" style="margin: 15px 0 15px  0;"></div>
</ul>
</nav>
</div>
<main class="fundo">
<div class="container"><br>

<span class="heading alignleft"> TODAS AS<em style="color: #ff0000;"> CATEGORIAS</em></span>
<div class="clear"></div>
<div class="listagem row">

<!-- NEW ITEM -->
<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col">
<div class="item">
<a href="/animacao">
<div class="imagem"> <img original-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8_lZ89TGD20ldyzozoGrHKpWlkHlpPBQNNQ&usqp=CAU" alt="" title="" class="img-responsive" alt="" title="" class="img-responsive" />
</div>
<h2 class="titulo">Animação</h2>
</a>
</div>
</div>
<!-- END ITEM -->

<!-- NEW ITEM -->
<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col">
<div class="item">
<a href="/animes">
<div class="imagem"> <img original-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBLTo9TWoEAagBfkPKwzwkeo3VFxkkuZskig&usqp=CAU" alt="" title="" class="img-responsive" />
</div>
<h2 class="titulo">Anime</h2>
</a>
</div>
</div>
<!-- END ITEM -->

<!-- NEW ITEM -->
<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 col">
<div class="item">
<a href="/comedia">
<div class="imagem"> <img original-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHK-i5bPaSnWn-40kueYgHPzfjhM74shJMLQ&usqp=CAU" alt="" title="" class="img-responsive" />
</div>
<h2 class="titulo">Comedia</h2>
</a>
</div>
</div>
<!-- END ITEM -->

</div>

</div>
</main>
<div class="mainFooter">
<div class="mainCreditosFooter">Filmes e Séries online grátis para você assistir a qualquer hora do seu dia!</div>
</div>
</div>

<script defer src="/js/Main-JS.js"></script>
</body>
</html>